{% extends 'base.html' %}
{% block content %}
<h1>My products page</h1>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<ul class='flashes list-unstyled'>
    {% for category, message in messages %}
    <li class="alert alert-{{ category }} ">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Add Products
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/add_products" method="post" class="form-control">
                    <label for="name">Product Name</label><br>
                    <input type="text" id="name" name="name"><br>
                    <label for="bp">Buying Price</label><br>
                    <input type="number" id="bp" name="buying_price"><br>
                    <label for="sp">Selling Price</label><br>
                    <input type="number" id="sp" name="selling_price"><br>
                    <button type="submit" class="btn btn-primary">Add Product</button>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<table class="display" id="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Product Name</th>
            <th>Buying Price</th>
            <th>Selling Price</th>
        </tr>
    </thead>
    <tbody>
        {% for prod in prods %}
        <tr>
            <td>{{prod[0]}}</td>
            <td>{{prod[1]}}</td>
            <td>{{prod[2]}}</td>
            <td>{{prod[3]}}</td>
        </tr>
        {% endfor %}

    </tbody>

</table>
{% endblock %}

{% block script %}
let table = new DataTable('#table');
{% endblock %}