{% extends "base.html" %}
    {% block content %}
    <h1>My Register page</h1>
    

    <form action="/register" class="form-control" method="post">
        <label for="fullname">Full Name</label><br>
        <input type="text" id="fullname" name="fullname" required><br>
        <label for="email" >Email</label><br>
        <input type="email" id="email" name="email" required><br>
        <label for="password">Password</label><br>
        <input type="password" id="password" name="password" required><br>
        <button type="submit" class="btn btn-primary" >Register</button>
    </form>
    {% endblock %}
